.aws-btn {

        --slider-height-percentage: 38%;
        --slider-transition-duration: 525ms;
        --organic-arrow-thickness: 4px;
        --organic-arrow-border-radius: 0px;
        --organic-arrow-height: 40px;
        --organic-arrow-color: #d6b18f;
        --control-button-width: 10%;
        --control-button-height: 25%;
        --control-button-background: transparent;
        --control-bullet-color: #fcd0a8;
        --control-bullet-active-color: #d6b18f;
        --loader-bar-color: #9bc4e2;
        --loader-bar-height: 6px;
        }
.navColor{
        background-color: #9bc4e2;
}